# instructions for .gitmodules
# git submodule add github/repo/path
# git add .gitmodules github/repo/name

[submodule "model/egtr"]
	path = model/egtr
	url = https://github.com/naver-ai/egtr.git
[submodule "model/react"]
	path = model/react
	url = https://github.com/Maelic/SGG-Benchmark.git
[submodule "model/VADMamba"]
	path = model/VADMamba
	url = https://github.com/jLooo/VADMamba.git
[submodule "model/VadCLIP"]
	path = model/VadCLIP
	url = https://github.com/nwpu-zxr/VadCLIP.git
[submodule "model/aed-mae"]
	path = model/aed-mae
	url = https://github.com/ristea/aed-mae.git
